.tiptap-wrapper {
  flex: 1;
}

.tiptap-editor {
  width: 100%;
}

.tiptap.ProseMirror {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
  background-color: white;

  &.prose {
    max-width: 100%;
  }

  * {
    word-break: break-word;
    max-width: 100%;
    line-height: 1.5;
  }

  a {
    text-decoration: underline;
  }

  h1 {
    font-size: 1.75rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul li,
  ol li {
    margin: 0.25rem;

    &::marker {
      color: inherit;
    }

    p {
      margin: 0;
    }
  }

  hr {
    margin: 1.5rem 0.75rem;
  }
  // }

  &.preview-question {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    p {
      font-weight: 600;
    }
  }

  &.edit-question {
    margin-top: -1px;
    min-height: 160px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    outline: none;

    p {
      line-height: 1.5;
    }
  }
}

// Display a Placeholder only for the first line in an empty editor.
.tiptap p.is-editor-empty {
  height: fit-content;
}

.tiptap h1.is-editor-empty:first-child::before,
.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  height: fit-content;
  pointer-events: none;
  position: absolute;
  color: #94a3b8;
}
