.tiptap-wrapper {
  flex: 1;
}

.tiptap-editor {
  width: 100%;
}

.tiptap.ProseMirror {
  * {
    word-break: break-word;
    max-width: 100%;
  }

  &.editing {
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #e2e8f0;
    background-color: white;

    a {
      text-decoration: underline;
    }

    h1 {
      font-size: 1.75rem;
      font-weight: 700;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3,
    h4,
    h5,
    h6 {
      font-size: 1.25rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: 0.75rem;
    }

    ul li,
    ol li {
      p {
        margin: 0;
      }
    }

    hr {
      margin: 1.5rem 0.75rem;
    }
  }
}

// Display a Placeholder only for the first line in an empty editor.
.tiptap p.is-editor-empty {
  height: fit-content;
}

.tiptap h1.is-editor-empty:first-child::before,
.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  height: fit-content;
  pointer-events: none;
  position: absolute;
  color: #94a3b8;
}
